<div id="header-wrapper">
  <div class="title xtralarge bold"><a href="./index.html">Planet Express</a></div>
  <div class="normal small"> Our crew is replaceable. Your package isn't. </div>

  <div class="nav normal">
    <a class="logo" href="<%- path %>/index.html">Home</a>
    <a class="logo" href="<%- path %>/colophon.html">Colophon</a>
    <a class="logo" href="<%- path %>/about.html">About</a>
    <a class="logo" href="<%- path %>/topics.html">Topics</a>
  </div>
</div>
