<div id="footer-wrapper">

  <div class="logo"></div>

  <div class="logo">
    <a class="logo" href="http://github.com/walchko"><i class="fl-github fl-36"></i></a>
    <a class="logo" href="http://stackoverflow.com/users/5374768/kevin"><i class="fl-stackoverflow fl-36"></i></a>
    <a class="logo" href="http://raspberrypi.stackexchange.com/users/1677/kevin"><i class="fl-stackexchange fl-36"></i></a>
    <a class="logo" href="https://www.npmjs.com/~kevin.walchko"><i class="fl-npm fl-36"></i></a>
    <a class="logo" href="https://pypi.python.org/pypi"><i class="fl-python fl-36"></i></a>
    <a class="logo" href="https://bitbucket.org/walchko/"><i class="fl-bitbucket fl-36"></i></a>
  </div>

  <div class="logo">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <i class="cc cc-by-sa cc-lg"></i>
    </a>
  </div>

  <div class="pure-u-1">
    <a class="logo" href="https://github.com/walchko/pelican">&copy;&nbsp;2016&nbsp;Kevin J. Walchko</a>
  </div>

</div>
