<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script> -->
      <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    	<link href="https://cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">
    	<link href="https://cdn.rawgit.com/walchko/font-linux/v0.7.2/assets/font-linux.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
      <link href="{{ path }}/site.css" rel="stylesheet" type="text/css" />
      <link href="{{ path }}/pandoc.css" rel="stylesheet" type="text/css" />
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: {
                equationNumbers: {
                autoNumber: "AMS",
                useLabelIds: true
                }
            },
            tex2jax: {
                inlineMath: [["$","$"],["\\(","\\)"]],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true,
                processEnvironments: true
            },
            displayAlign: 'center'
        });
      </script>

    </head>
    <body>
      <div id="outer-wrapper">
          <div id="header-wrapper">
            <div class="title xtralarge bold"><a href="{{ path }}/index.html">Planet Express</a></div>
            <div class="normal small"> Our crew is replaceable. Your package isn't. </div>

            <div class="nav normal">
              <a class="logo" href="{{ path }}/index.html">Home</a>
              <a class="logo" href="{{ path }}/colophon.html">Colophon</a>
              <a class="logo" href="{{ path }}/about.html">About</a>
              <a class="logo" href="{{ path }}/topics.html">Topics</a>
            </div>
          </div>

          <div id="main">
            {% if TOC %}
              {% for topic, pages in TOC.items() %}
                <h3>{{ topic }}</h3>
                <ul>
                {% for page, link in pages.items() %}

                  <li><a href="{{ link }}"> {{ page }}  </a></li>
                {% endfor %}
              </ul>
              {% endfor %}
            {% endif %}
            {% if info %}
              {{ info }}
            {% endif %}
          </div>

        </div>
    </body>
<div id="footer-wrapper">

  <div class="logo"></div>

  <div class="logo">
    <a class="logo" href="http://github.com/walchko"><i class="fl-github fl-36"></i></a>
    <a class="logo" href="http://stackoverflow.com/users/5374768/kevin"><i class="fl-stackoverflow fl-36"></i></a>
    <a class="logo" href="http://raspberrypi.stackexchange.com/users/1677/kevin"><i class="fl-stackexchange fl-36"></i></a>
    <a class="logo" href="https://www.npmjs.com/~kevin.walchko"><i class="fl-npm fl-36"></i></a>
    <a class="logo" href="https://pypi.python.org/pypi"><i class="fl-python fl-36"></i></a>
    <a class="logo" href="https://bitbucket.org/walchko/"><i class="fl-bitbucket fl-36"></i></a>
  </div>

  <div class="logo">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <i class="cc cc-by-sa cc-lg"></i>
    </a>
  </div>

  <div class="pure-u-1">
    <a class="logo" href="https://github.com/walchko/github-blog">&copy;&nbsp;2016&nbsp;Kevin J. Walchko</a>
  </div>

</div>

</html>
